@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-sans selection:bg-orange-500/20 selection:text-orange-500;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

/* Crisp Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
